.main{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFFFFF;
    padding: clamp(60px, 8vw, 120px) clamp(24px, 10vw, 150px);
}
.card{
    display: flex;
    align-items: center;
    width: 100%;
    background-image: url('./1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 142px 33px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 34px;
    max-width: 520px;
}
.textGroup{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.heading{
    font-family: var(--font-pp-hatton);
    font-weight: 500;
    font-size: var(--fs-32);
    line-height: 40px;
    color: #FFFFFF;
    margin: 0;
}
.script{
    font-family: var(--font-modernline);
    font-weight: 400;
    font-size: 40px;
}
.desc{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}
.formGroup{
    display: flex;
    align-items: center;
    gap: 12px;
}
.input{
    flex: 1;
    padding: 11px 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 0;
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.input::placeholder{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.cta{
    flex-shrink: 0;
    padding: 11px 29.5px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 20px;
    color: #CD7D6D;
    cursor: pointer;
}

@media (max-width: 640px){
    .main{
        padding: 0px 0px 80px 0px;
    }
    .card{
        padding: 45px 22px;
    }
    .content{
        gap: 24px;
        max-width: 100%;
    }
    .textGroup{
        gap: 12px;
    }
    .heading{
        font-size: 14px;
        line-height: normal;
    }
    .script{
        font-size: 24px;
    }
    .desc{
        font-size: 14px;
        line-height: normal;
    }
    .formGroup{
        gap: 4px;
    }
    .input{
        padding-top: 3.5px;
        padding-bottom: 3.5px;
        padding-left: 5.35px;
        padding-right: 22.65px;
        font-size: 14px;
        height: 26px;
        max-width: 300px;
    }
    .input::placeholder{
        font-size: 14px;
    }
    .cta{
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 7px;
        padding-right: 7px;
         height: 26px;
        font-size: 14px;
    }
}
